@model Movie
@{
    ViewData["Title"] = "Movie Added";
}

<h1>@Model.MovieTitle Added!</h1>

<p>Click <a href="RentalCart">here</a> to view your cart.</p>
<p>Click <a href="ListMovies">here</a> to rent another movie.</p>


